{% extends "base.html" %}
{% block content %}

	<ol class="breadcrumb">
		<li><a href="{% url 'musiclounge:logout' %}">Logout</a></li>
		<li class="active">Home</li>
	</ol>
	
	<!-- TABS -->
	<div class="container">
		<div id="content">
			<ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
				<li class="active" ><a href="#home" data-toggle="tab"><b>Home</b></a></li>
				<li><a href="#friends" data-toggle="tab"><b>Friends</b></a></li>
				<li><a href="#friendSugestion" data-toggle="tab"><b>Friends Sugestion</b></a></li>
				<li><a href="#music" data-toggle="tab"><b>Music</b></a></li>
				<li><a href="#musicSugestion" data-toggle="tab"><b>Music Sugestion</b></a></li>
				<li><a href="#statistics" data-toggle="tab"><b>My Statistics</b></a></li>
			</ul>

			<div id="my-tab-content" class="tab-content">
				
				<!-- HOME -->

				<div class="tab-pane active" id="home">
					<div class="tab-pane" id="home">
						<div class="panel panel-default">
							<div class="panel-body">

								{% if message %}								
									{% if message.type == 'warning' %}
										<div class="alert alert-danger alert-dismissable">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										<strong>Message from Music Lounge: </strong> {{ message.text }}
										</div>
									{% else %}
										<div class="alert alert-success alert-dismissable">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										<strong>Message from Music Lounge: </strong>{{ message.text}}
										</div>
									{% endif %}
								
								{% endif %}


								<div class="container">
									<div id="content" align="left">
										<form enctype="multipart/form-data" class="form-horizontal" role="form" action="{% url 'musiclounge:updateUser' %}" method="post">
										{% csrf_token %}
											<div class="form-group">
												<div class="col-sm-10">
													<img class="img-circle" src="{{ STATIC_URL }}images/{{ user.login }}_img"/>
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-1 control-label">Name: </label>
												<div class="col-sm-10">
													{{ userForm.name }}
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-1 control-label">Login: </label>
												<div class="col-sm-10">
													{{ userForm.login }}
												</div>
											</div>

											<div class="form-group">
												<label class="col-sm-1 control-label">City: </label>
												<div class="col-sm-10">
													{{ userForm.city }}
												</div>
											</div>
				
											<div class="form-group">
												<label for="userImg">Profile Image: </label>
												<input id="id_image" type="file" class="" name="image">
											</div>	
											
											<div class="form-group">
												<input type="submit" class="btn btn-success" value="Update"></input>
											</div>
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- FRIENDS -->
				
					<div class="tab-pane" id="friends">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="container">
							   		<ul class="row">
							   			{% if friends %}
							   				{% for friend in friends %}
							   					{% if admin %}
										       		<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
										       				<p><a href='{% url 'musiclounge:user' friend.login %}'><img class="img-circle" id="usr_{{ friend.login }}" src="{{ STATIC_URL }}images/{{ friend.login }}_img"/></a></p>
										       				<p><a href='{% url 'musiclounge:user' friend.login %}'><b>{{ friend.firstName }}</b></a></p>
										       		</li>
										       	{% else %}
											       	<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
											       			<p><a href='{% url 'musiclounge:user' friend.friend.login %}'><img class="img-circle" id="usr_{{ friend.friend.login }}" src="{{ STATIC_URL }}images/{{ friend.friend.login }}_img"/></a></p>
											       			<p><a href='{% url 'musiclounge:user' friend.friend.login %}'><b>{{ friend.friend.firstName }}</b></a></p>
											       	</li>
									    		{% endif %}
									    	{% endfor %}
									    {% else %}
									    	<div class="alert alert-warning alert-dismissable">
									    	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									    	  <strong>Sorry!</strong> you don't have any friends! :(
									    	</div>
									    {% endif %}
									   </ul>
								</div>		
							</div>
						</div>
					</div>
				

				<!-- FRIENDS SUGESTION-->
				<div class="tab-pane" id="friendSugestion">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container">
						   		<ul class="row">
						   			{% if friendSugestion %}
						   				{% for friend in friendSugestion %}
									       	<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
									       			<p><a href='{% url 'musiclounge:user' friend.login %}'><img class="img-circle" id="uss_{{ friend.login }}" src="{{ STATIC_URL }}images/{{ friend.login }}_img"/></a></p>
									       			<p><a href='{% url 'musiclounge:user' friend.login %}'><b>{{ friend.firstName }}</b></a></p>
									       	</li>
								    	{% endfor %}
								    {% else %}
								    	<div class="alert alert-warning alert-dismissable">
								    	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								    	  <strong>Sorry!</strong> there is no friend's sugestion for you :(
								    	</div>
								    {% endif %}
								   </ul>
							</div>		
						</div>
					</div>
				</div>

				<!-- MUSICAL ACTS -->

				<div class="tab-pane" id="music">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container">
						   		<ul class="row">
						   			{% if musicalActs %}
						   				{% for act in musicalActs %}
						   					{% if admin %}
									       		<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
									       				<p><a href='{% url 'musiclounge:musicalAct' act.id %}'><img class="img" id="mus_{{ act.id }}" src="{{ STATIC_URL }}images/{{ act.id }}_img"/></a></p>
									       				<p><b>{{ act.title }}</b></p>
									       			</a>
									       		</li>
									       	{% else %}
										       	<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
										       			<p><a href='{% url 'musiclounge:musicalAct' act.musicalAct.id %}'><img class="img" id="mus_{{ act.musicalAct.id }}" src="{{ STATIC_URL }}images/{{ act.musicalAct.id }}_img"/></a?</p>
										       			<p><a href='{% url 'musiclounge:musicalAct' act.musicalAct.id %}'><b>{{ act.musicalAct.title }}</b></a></p>
										       		
										       	</li>
								    		{% endif %}
								    	{% endfor %}
								    {% else %}
								    	<div class="alert alert-warning alert-dismissable">
								    	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								    	  <strong>Sorry!</strong> you didn't like any musical act! :(
								    	</div>
								    {% endif %}
							   </ul>
							</div>
						</div>
					</div>
				</div>

				<!-- MUSICAL ACTS SUGESTION -->
				<div class="tab-pane" id="musicSugestion">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="container">
						   		<ul class="row">
						   			{% if musicalActSugestion %}
						   				{% for act in musicalActSugestion %}
									       	<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
								       			<p><a href='{% url 'musiclounge:musicalAct' act.musicalAct.id %}'><img class="img" id="mss_{{ act.musicalAct.id }}" src="{{ STATIC_URL }}images/{{ act.musicalAct.id }}_img"/></a></p>
								       			<p><a href='{% url 'musiclounge:musicalAct' act.musicalAct.id %}'><b>{{ act.musicalAct.title }}</b></a></p>
			
									       	</li>
								    	{% endfor %}
								    {% else %}
								    	<div class="alert alert-warning alert-dismissable">
								    	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								    	  <strong>Sorry!</strong> there is no music sugestion for you! :(
								    	</div>
								    {% endif %}
							   </ul>
							</div>
						</div>
					</div>
				</div>

				<!-- STATISTICS -->
				<div class="tab-pane" id="statistics">
					<div class="panel panel-default">
						<div class="panel-body">
							
								
								{% if statistics %}
									{% for statistic in statistics %}
										<ul class="list-group">
											{% if statistic.id == 'my' %}
												<li class="list-group-item"><b>My Reasons: {{ statistic.label }}</b> : {{ statistic.value }}</li>
											{% elif statistic.id == 'their' %}
												<li class="list-group-item"><b>Their Reasons: {{ statistic.label }}</b> : {{ statistic.value }}</li>
											{% else %}
												<li class="list-group-item"><b>{{ statistic.label }}</b> : {{ statistic.value }}</li>
											{% endif %}
										</ul>
									{% endfor %}
								{% else %}
									<div class="alert alert-warning alert-dismissable">
									  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									  <strong>Sorry!</strong> there is no statistics for you! :(
									</div>
								{% endif %}
								
							
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript">

		// js to improve the tabs behavior
		jQuery(document).ready(function ($){
			$('#tabs').tab();
		});
	</script>
{% endblock %}