{% extends "base.html" %}
{% block content %}
	
	<ol class="breadcrumb">
		<li><a href="{% url 'musiclounge:logout' %}">Logout</a></li>
		<li><a href="{% url 'musiclounge:home' requester %}">Home</a></li>
		<li class="active">{{ musicalAct.title }}'s Informations</li>
	</ol>
	
	<!-- TABS -->
	<div class="container">
		<div id="content">
			<ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
				<li class="active" ><a href="#infoMusic" data-toggle="tab"><b>{{ musicalAct.title }}</b></a></li>
				<li><a href="#similarMusicalActs" data-toggle="tab"><b>Similar Musical Acts</b></a></li>
				<li><a href="#statistics" data-toggle="tab"><b>Statistics</b></a></li>
			</ul>

			<div id="my-tab-content" class="tab-content">
				
				<!-- INFO -->

				<div class="tab-pane active" id="infoMusic">
					<div class="tab-pane" id="infoMusic">
						<div class="panel panel-default">
							<div class="panel-body">
								<div id="content" align="left">
									{% if requester == 'admin' %}
										<form enctype="multipart/form-data" class="form-horizontal" role="form" action="{% url 'musiclounge:registration' %}" method="post">
										{% csrf_token %}		
									{% else %}
										<form class="form-horizontal" role="form">
									{% endif %}
									  	
									  <div class="form-group">
									    <div class="col-sm-10">
									      <img class="img" src="{{ STATIC_URL }}images/{{ musicalAct.id }}_img"/>
									    </div>
									  </div>

									  <div class="form-group">
									    <label class="col-sm-1 control-label">Title: </label>
									    <div class="col-sm-10">
									      {{ musicalActForm.title }}
									    </div>
									  </div>
									  
									  <div class="form-group">
									    <label class="col-sm-1 control-label">URI: </label>
									    <div class="col-sm-10">
									      {{ musicalActForm.uri }}
									    </div>
									  </div>

									  <div class="form-group">
									    <label class="col-sm-1 control-label">Country: </label>
									    <div class="col-sm-10">
									      {{ musicalActForm.country }}
									    </div>
									  </div>

									  <div class="form-group">
									    <label class="col-sm-1 control-label">Genre: </label>
									    <div class="col-sm-10">
									      {{ musicalActForm.genre }}
									    </div>
									  </div>

									  <div class="form-group">
									    <label class="col-sm-1 control-label">Summary: </label>
									    <div class="col-sm-10">
									      {{ musicalActForm.summary }}
									    </div>
									  </div>

										{% if requester == 'admin' %}

											<input type="submit" class="btn btn-success" value="Update"></input>

										{% endif%}
									</form>
									{% if requesterLikesThis %}
										<form class="form-inline" role="form" action="{% url 'musiclounge:managerMusicalActLikes' musicalAct.id %}" method="post">
											{% csrf_token %}
											<div class="form-group">
												<div class="col-sm-10">
													<input type="submit" class="btn btn-danger" value="Dislike Musical Act" name="button"></input>
												</div>
											</div>
										</form>
									{% else %}
										<form class="form-inline" role="form" action="{% url 'musiclounge:managerMusicalActLikes' musicalAct.id %}" method="post">
											{% csrf_token %}
											<div class="form-group">
												<div class="col-sm-10">
													<input type="submit" class="btn btn-success" value="Like Musical Act" name="button"></input>
												</div>
											</div>
											<div class="form-group">
											    <div class="col-sm-10">
											      <select class="form-control" id="rate" name="rate">
											        <option value="1" selected="selected" name="rate">1</option>
											        <option value="2" name="rate">2</option>
											        <option value="3" name="rate">3</option>
											        <option value="4" name="rate">4</option>
											        <option value="5" name="rate">5</option>

											      </select>
											    </div>
										  	</div>	
										</form>
									{% endif %}
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- SIMILAR -->
				
					<div class="tab-pane" id="similarMusicalActs">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="container">
							   		<ul class="row">
							   			{% if similarMusicalActs %}
							   				{% for act in similarMusicalActs %}
										       	<li class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
										       			<p><a href='{% url 'musiclounge:musicalAct' act.musicalAct.id %}'><img class="img" id="mus_{{ act.musicalAct.id }}" src="{{ STATIC_URL }}images/{{ act.musicalAct.id }}_img"/></a?</p>
										       			<p><a href='{% url 'musiclounge:musicalAct' act.musicalAct.id %}'><b>{{ act.musicalAct.title }}</b></a></p>
										       		
										       	</li>
									    	{% endfor %}
									    {% else %}
									    	<div class="alert alert-warning alert-dismissable">
									    	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									    	  <strong>Sorry!</strong> you didn't like any musical act! :(
									    	</div>
									    {% endif %}
								   </ul>
								</div>
							</div>
						</div>
					</div>
				

				
				<!-- STATISTICS -->

				<div class="tab-pane" id="statistics">
					<div class="panel panel-default">
						<div class="panel-body">
							{% if statistics %}
								{% for statistic in statistics %}
									<ul class="list-group">
										<li class="list-group-item"><b>{{ statistic.label }}</b> : {{ statistic.value }}</li>	
									</ul>
								{% endfor %}
							{% else %}
								<div class="alert alert-warning alert-dismissable">
								  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								  <strong>Sorry!</strong> there is no statistics for you! :(
								</div>
							{% endif %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript">

		// js to improve the tabs behavior
		jQuery(document).ready(function ($){


			$('#tabs').tab();

		});
	</script>
{% endblock %}