{% extends "base.html" %}
{% block content %}
	<ol class="breadcrumb">
		<li><a href="{% url 'musiclounge:index' %}">Index</a></li>
		<li class="active">Signin</li>
	</ol>

	<div class="container">
		<div id="content" align="center">
			<form enctype="multipart/form-data" class="form-horizontal" role="form" action="{% url 'musiclounge:registration' %}" method="post">
			{% csrf_token %}		
				<div class="form-group">
				    {{ form.name }}
				</div>
				<div class="form-group">
				    {{ form.login }}
				</div>
				<div class="form-group">
				    {{ form.city }}
				</div>
				<div class="form-group">
				    <label for="userImg">Profile Image: </label>
				    <input id="id_image" type="file" class="" name="image">
			  	</div>	
				<div class="form-group">
					<input type="submit" class="btn btn-success" value="Sign in"></input>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
